# backup files (if any)
*~
*.bak

# hidden files
.*

# except this file, of course!
!.gitignore

# ctags-exuberant tags file can be manually generated so it doesn't need to be
# in the vcs
tags

# Devel::Cover directory
cover_db/

# copied from github's Perl.gitignore
/blib/
/.build/
_build/
inc/
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
